body{
    background-color: black;
    font-family: "Helvetica Neue";
    color: white;
    margin: 20px;
}

.wd-authordisplay{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.wd-text-author{
    font-weight: 500;
    margin: 0;
    font-size: 15px;
    padding: 0;
    padding-right: 5px;
}

.wd-ellipsis {
    color: rgb(110, 118, 125);
    float: right;
    vertical-align: top;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}