.body{
    font-family: "Helvetica Neue", serif;
}

.fa-stack{
    font-size:.5em;
}


.fw-bolder{
    margin: 0;
    padding: 0;
}

.wd-logo{
    width:10px;
    height: 10px;
}

.wd-titletext{
    font-size:2.5em;
}





